{{ define "main" }}
    <div class="row justify-content-center">
        <div class="column" id="intro_div">
            FOR MADMEN ONLY
        </div>
    </div>

    <div class="row" id="splash_img">
        <section id="banner">
            <script src="./p5/banner.js"></script>
        </section>
    </div>

    <hr style="margin-top: 50px;">

    <div class="row justify-content-center" id="about_div">
        <div class="col-6" style="align-content: left;">
            <h2>about</h2>
            <li id="about_list">vathsa (he / him)</li>
            <li id="about_list">robotics researcher</li>
            <li id="about_list">exploring creative coding & music making</li>
            <li id="about_list">interests: literature (currently reading Midnight's Children), music (Noise Rock, Black Metal, Ambient Electronic), programming (doing SICP right now)</li>
        </div>
        <div class="col-6" style="align-content: left;">
            <h2>contact</h2>
            <li>instagram - vathsa_irl</li>
            <li>email - msshrivathsa (at) gmail.com</li>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center" id="thumbnails">
        <div class="col-4">
            <img src="images/thumbnails/spacewatches.png" id="thumbnail">
        </div>
        <div class="col-4">
            <img src="images/thumbnails/spacewatches.png" id="thumbnail">
        </div>
        <div class="col-4">
            <img src="images/thumbnails/sotrue.jpeg" id="thumbnail">
        </div>
    </div>
{{ end }}